
.icon-user:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */